
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Gép kölcsönző</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/read">Gépek listázása</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/create">Gép hozzáadása</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/readPartner">Ügyfelek listázása</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/createPartner"href="#">Ügyfél hozzáadása</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/loan"href="#">Kölcsönzés</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/return"href="#">Visszahozása</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/newUser"href="#">Új Felhasználó</a>
      </li>
    </ul>
  </div>
</nav><br>
