<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Gép kölcsönző</h3>

                        <div class="card-content">
                            <div *ngIf="errormsg" class="center red-text">Hibás felhasználónév vagy jelszó</div>

                            <form [formGroup]="loginForm">
                                <div class="form-outline mb-4">
                                    <input class="form-control form-control-lg" id="username" formControlName="username"type="text">
                                    <label class="form-label" for="username">Username</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input class="form-control form-control-lg" id="password" formControlName="password" type="password">
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <div>
                                    <a (click)="loginSubmit()" class="btn btn-primary">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
