<app-navbar></app-navbar>
<div class="container">
    <h5 class="text-center">Gép kölcsönzés</h5>
    <h5 class="text-success">{{success}}</h5>
    <h5 class="text-danger">{{errormsg}}</h5>
    
    <div class="p-3 row justify-content-md-center">
            <p class="col-md-3 text-left">Válaszd ki a partner azonosítóját:</p> 
            <select [(ngModel)]="selectedPartnerOption" class="browser-default col-md-6">
                <option value="undefined">Válaszd ki az ügyfél azonosítóját</option>
                <option *ngFor="let partner of readedDataPartner" [value]="partner.id">{{partner.id}}, {{partner.name}}</option>
              </select>
        
    </div>
    
    <div class="row justify-content-md-center">
        <p class="col-md-3 text-left">Válaszd ki a gép azonosítóját:</p>
        <select [(ngModel)]="selectedMachineOption" class="browser-default col-md-6">
            <option value="undefined">Válaszd ki az gép azonosítóját</option>
            <option *ngFor="let machine of readedDataMachine" [value]="machine.id">{{machine.id}}, {{machine.machineName}}</option>
          </select>
    </div>
    <div class="row ">
        <div class="p-3 col-md-3 offset-md-6">
            <button class="btn btn-primary" (click)="loanSubmit()">Kölcsönzés</button>
        </div>
    </div>
</div>
    
